
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color:#282828;
	background-image:url('images/metro-diagram.jpg');
	font-size:16px;
	background-repeat:no-repeat;
	background-size: 50em;
	background-attachment:fixed;
}
header div{
	padding: 0 1em 1em 1em;
	color:#F7F7F7;
	float:none;
}
h1{
	font-size: 4em;
	color:#1d53ba;
	font-family: 'Lato', sans-serif;
	font:'lato';
}
.content{
	width:25em;
	line-height:1.5em;
	background-color: rgba(216,221,225,.8);
	float:right;
}
#part1, #part2, #part3{
	float:right;
}
.setup #part1 span, .setup #part2 span, .setup #part3 span{
	display:none;
}
#part1:hover span, #part2:hover span, #part3:hover span{
	display:block;
}
.expander:hover{
	display:block;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
#button1, #button2, #button3{
	font-size:10em;
	color:rgba(0,0,0,1);
}
#button1{
	margin:0em 0 0 2.7em;
}
#button2{
	margin:-.825em 0 0 2.525em;
}
#button3{
	margin:-.825em 0 0 2.35em;
}