@media only screen and (min-width:0px) and (max-width:1200px) {
  body {
    background-image:url('images/thewheel.jpg');
  }
	#longabout{
		display:none;
  }
	#shortabout{
		display:inline;
  }
}
@media only screen and (min-width:1201px) and (max-width:5000px) {
	#longabout{
		display:inline;
	}
	#shortabout{
		display:none;
	}
}
@media only screen and (min-width:670px) and (max-width:740px) {
	nav{
		float:left;
	}
}
@media only screen and (min-width:0px) and (max-width:670px) {
	nav{
		float:left;
	}
	.buttons{
		float:left;
		width:75%;
	}
	.background{
		text-align: left;
		max-height:50px;
	}
	.background .link{
		top:0.25em;
		left:0;
	}
	.background+.background{
	margin:2em 0 0 0;
}
}