@import url('images/Fonts/BickhamScriptPro-Semibold.otf');
@import url('images/Fonts/MrsEavesOT-Roman.otf');
@import url('images/Fonts/EngraversLTStdBoldFace.otf');
@import url('images/Fonts/MrsEavesOTItalic.otf');

@font-face{
	font-family:BickhamScriptPro-Semibold;
	src: url('images/Fonts/BickhamScriptPro-Semibold.otf');
}
@font-face{
	font-family:MrsEavesOT-Roman;
	src: url('images/Fonts/MrsEavesOT-Roman.otf');
}
@font-face{
	font-family:EngraversLTStdBoldFace;
	src: url('images/Fonts/EngraversLTStdBoldFace.otf');
}
@font-face{
	font-family:MrsEavesOTItalic;
	src: url('images/Fonts/MrsEavesOTItalic.otf');
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color:#3D3F40;
	font-size: 16px;
	background-color: rgba(200,200,200,.8);
	background-image:url('images/thewheel.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	font-family:'MrsEavesOT-Roman', georgia, serif;
}
nav {
	float:right;
}
nav ul{
	font-family: 'EngraversLTStdBoldFace', serif;
	list-style-type:none;
}
nav li {
	float:left;
	margin:.5em 1em;
}
nav a{
	color:#3D3F40;
	text-decoration: none;
}
header div {
	float:left;
	text-align:center;
	padding:0em 0 0 0;
	width:400px;
}
header{
	clear:both;
}
h1{
	font-family:'BickhamScriptPro-Semibold', serif;
	font-size:4em;
}
p{
	margin: 0em 0em 0em .5em;
}
h2{
	font-size: 1.3em;
	width:30%;
	text-align: justify;
}
.buttons{
	float:right;
	width:33%;
}
.background{
	font-family:'BickhamScriptPro-Semibold', serif;
	font-size: .5em;
	line-height:.4em;
	text-align: right;
	position:relative;
	color:#3D3F40;
	max-height:15em;
	overflow:hidden;
}
.background+.background{
	margin:4em 0 0 0;
}
.background .link{
	position:absolute;
	top:1em;
	right:0;
	font-family:'EngraversLTStdBoldFace', serif;
	font-size: 5em;
	padding:.5em;
	text-align: center;
}
.background a{
	text-align: center;
	text-decoration: none;
	color:rgb(230,230,230);
	display:block;
}
.background p{
	-webkit-user-select: none;      
	-moz-user-select: none;
	-ms-user-select: none;
}
#slogan{
	font-style: italic;
	font-size: 1.5em;
}
#author{
	font-family:'EngraversLTStdBoldFace', serif;
	margin-left:0;
	font-size:1.25em;
}
#description{
	margin: 0em 0em 0em 0em;
	line-height: 1.5em;
	padding: 1em;
	width:30%;
}
#description span{
	font-style:italic;
}
.ref{
	font-size: .75em;
}
#subheading{
	padding: 4em 2em 0em 2em;
	margin:0 auto;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}